<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl" ng-filter="myFilt">
    <div >
        <!-- <input type="text" ng-model="name" ng-blur="toUpp()"> -->

        {{msg | custom : '!' }}

    </div>

    <br><br>
    <div>
        <button ng-click="increment()">Increment</button>
        <span>{{counter}}</span>
    </div>

</body>
</html>